<ul>
  <% @bookings.each do |booking| %>

    <li><%= booking.checkin %>-</li>  
    <li><%= booking.checkout %></li>
    <li><%= booking.user.username %></li>
    <li><%= booking.property.title %></li>
  <% end %>
</ul>