<div class="user-bookings-form-center">
<ul>
  <% @bookings.each do |booking| %>

    <li><%= booking.checkin.strftime("%d/%m/%Y") %>-</li>
    <li><%= booking.checkout.strftime("%d/%m/%Y") %></li>
    <li><%= booking.user.username %></li>
    <li><%= booking.property.title %></li>
  <% end %>
</ul>
</div>
