<h2>Booking your choice</h2>
<div class="container" id="booking-form-div" style="width: 400px">
  <%= simple_form_for [@property, @booking] do |f| %>
    <%= f.input :checkin, as: :string, input_html: { id: "range_start", class: "d-none"} %>
    <%= f.input :checkout, as: :string, input_html: { id: "range_end", class: "flatpickr"} %>
    <%= f.button :submit, 'Book this', class: "btn btn-primary" %>
  <% end %>
</div>
