<div class="container">
  <div class="user-bookings-form-center">
    <div class="card text-center br4">
      <h2>Réservation Confirmée!</h2>
      <p>Réservation aux dates suivantes :</p>


      <% @bookings.each do |booking| %>
        <p>Du <%= booking.checkin.strftime("%d/%m/%Y") %> au <%= booking.checkout.strftime("%d/%m/%Y") %></p>
      <% end %>
      </div>
  </div>
</div>
