<div class="maincontainer">
        <h2>All our properties</h2>
    <div class="container d-flex">
      <% @properties.each do |property| %>
        <div class="card" style="width: 20rem;">
          <div class="card-body">
            <h5 class="card-title"><%= link_to property.title, property_path(property) %></h5>
         </div>
          <div class="card-footer">
            <%= property.price %> <i class="fas fa-euro-sign"></i>
            <%= property.category %>
          </div>
          <div class="card-infos">
            <div id="info"> <%= link_to "More info", property_path(property)%></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
