  <div id="blah" style="">
  <!-- <div class="wrap-total"> -->
    <div class="wrapper-form">
      <h1>Ajouter votre propriété</h1>
      <div class="form-center">
        <%= render "shared/form", property: @property %>
      </div>
    </div>
    <%#render "shared/form", property: [@user, @property]%>
  </div>

