<div class="row justify-content-center">
  <% @properties.each do |property| %>
    <div class="card-trip">
      <% property.photos.each do |photo| %>
        <%= cl_image_tag photo.key, width: 250, crop: :fill %>
      <% end %>
      <div class="card-trip-infos">
        <div class="title-75pct">
          <h5 class="card-title"><%= link_to property.title, property_path(property) %></h5>
          <p>Short description here!</p>
        </div>
        <h2 class="card-trip-pricing"><%= property.price %> €</h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
      </div>
    </div>
    <% end %>
</div>
