<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dnobflpja/image/upload/v1615217508/ld0jayopibksmtokj8yk.jpg);">
  <div class="container">
    <div class="banner-content col-sm-6 py-3">
      <h1>Awesome Houses</h1>
      <p>Offrez-vous un séjour inoubliable !</p>
      <div class="row">
        <div class="col-sm-6">
          <a class="btn btn-primary mb-3" href="#">Utilisateur</a>
        </div>
        <div class="col-sm-6">
          <a class="btn btn-secondary" href="#">Propriétaire</a>
        </div>
      </div>
    </div>
  </div>
</div>



