.banner {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 150px 100px;
  height: 75vh;
  .banner-content {
    background-color: rgba(0,0,0,0.6);
  }
}

.banner h1 {

  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 3em;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

h3 {
  color: white;
}

.form-group {
  width: 200px;
  margin-bottom: 0rem;
  border-radius: 10px 0px 0px 10px; /* ne marche pas */
}
#filter_property {
  padding: 0px;
}

.wrapper-btn {
  display: flex;
  /*height: 100px;*/
  /*padding: 0 100px;*/
  justify-content: center;
  /*justify-content: space-between*/;
  position: absolute;
  bottom: 24px;
  align-items: flex-end;
}

.wrapper-category {
 /* display: flex;
  flex-direction: column;*/
  margin-right: 24px;
}

.btn-search {
  color: white;
  padding: 0px 24px;
  border-radius: 10px;
  background: $blue-fee;
  transition: background 0.3s ease;
  &:hover {
    box-shadow: 0 4px 8px rgba(115,219,230,0.5);
    color: white;
  }
}


.wrapper-property {
  align-self: flex-end;
  display: flex;
  height: 38px;

}

#new_property {
}

.btn-property {
/*  position: absolute;
  bottom: 20px;*/
  align-items: center;
  vertical-align: middle;
  color: white;
  padding: 6px 20px;
  border-radius: 10px;
  background: $pink-fee;
  transition: background 0.3s ease;
  border: 1px solid transparent;
  &:hover {
    text-decoration: none;
    background: $pink-fee;
    box-shadow: 0 4px 8px rgba(214,108,182,0.5);
    color: white;
    border: none;
  }
}
i {
  /*display: inline;*/
}

hr {
  color: white;
  height: 10px;
}

.fa-heart {
  position: relative;
  bottom: 20px;
  transform: rotate(15deg);
  color: white;
  font-size: 0.5em;
}


