.center-h2 h2 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}

.wrapper-cards {
  /*display: flex;*/
  flex: wrap;
  margin-top: 25px;
  justify-content: center;
}

.card-trip {
  border: 1px solid $blue-fee;
  border-radius: 10px;
  margin: 20px auto;
  width: 300px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(115, 219, 230, 0.2);
}

.card-title {
}

a {
  color: $blue-fee;
}

.card-title a:hover {
  text-decoration: none;
  color: $blue-fee;
  text-shadow: 0 0 25px currentColor;
  /*opacity: 0.5;*/
}

.card-title a:visited {
  color: $pink-fee;
}

/*------------------------*/

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100px
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.title-75pct {
  display: flex;
  justify-content: space-between;
}
